
body {
    font-family: sans-serif; /* Roboto o Arial por defecto */
    font-size: 11px;
    color: #333;
    line-height: 1.2;
}

table { width: 100%; border-collapse: separate !important; border-spacing: 0; } 
td { vertical-align: top; }

.logo {
    width: 130px; /* Ajusta este valor si lo quieres más grande o chico */
    height: auto; /* IMPORTANTE: Esto mantiene la proporción original */
    display: block;
    object-fit: contain; /* Ayuda a que se ajuste bien */
    margin-left: 0px; /* Juega con este valor: -20px, -30px, -40px */
    margin-top: 0px;
}

/* AJUSTE PARA CENTRAR EL LOGO VERTICALMENTE CON EL TEXTO */
.logo-cell {
    vertical-align: middle !important; /* Centra el logo respecto al texto del costado */
    text-align: center; /* Centra el logo horizontalmente en su celda */
    padding-right: 0px;
    padding-left: 0 !important;
    padding-top: -2px;
    
}

/* 4. TÍTULO CON FUENTE LOCAL */
.titulo-principal {
    font-family: 'tekolocal', sans-serif;
    font-size: 31px; /* Un poco más grande */
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 5px;
    letter-spacing: 0.4px;
    line-height: 0.9;
    white-space: nowrap;


}

/* CLASE PARA LA CELDA CENTRAL (El contenedor td) */
.celda-centro {
    width: 60%;
    text-align: center;
    vertical-align: top; /* Alinea todo al techo de la celda */
    padding: 0; 
    padding-left: 0 !important;
 
    
}

/* CLASE PARA EL CONTENEDOR DE TEXTO (El div que agrupa la info) */
.info-empresa {
    font-size: 12px;
    font-family: sans-serif;
}

.linea-info {
    margin-bottom: 2px;
    
}

.linea-info-bold {
    font-weight: bold;
    margin-bottom: 2px;
}

.linea-info-top {
    font-weight: bold;
    margin-top: 4px; /* Espacio antes del teléfono */
}

/* Ajuste vertical para imagenes y texto en la misma linea */
.v-middle {
    vertical-align: middle;
}

/* 6. CAJA RUC */


/* 7. TABLAS DE DATOS */    
.items-table { margin-top: 0px; border-collapse: collapse; }
.items-table th { background-color: #f37021; color: white; padding: 10px; font-size: 12px; font-weight: bold;   }
.items-table td { border: 1px solid #f37021; padding: 8px; vertical-align: middle; }
.total-label { background-color: #f37021;  color: white; font-weight: bold; text-align: center; padding: 8px; }
.total-value { background-color: #eee;   font-weight: bold; text-align: center; padding: 8px; }

/* 8. TABLA DE CONTACTO Y CUENTAS */
.contact-table {margin-top: 20px; border-collapse: collapse;}
.contact-table th { background-color: #f37021; color: white; padding: 10px; font-size: 12px; font-weight: bold;   }
.contact-table td {border: 1px solid #f37021; padding: 5px;  }

.banco-tabla { width: 100%; border-collapse: collapse; margin-top: 0px; }
.banco-tabla td { border: 1px solid #ffffff; padding: 3px 0px; font-size: 11px;   }

.banco-logo {  text-align: center;}
.banco-nombre { color:#002a8d;; font-weight: bold; white-space: nowrap; }
.banco-numero { text-align: left; padding-left: 10px; white-space: nowrap;}
.banco-cci { text-align: left; padding-left: 10px; white-space: nowrap; color: #000000;}

 
.caja-ruc {
    width: 180px;
    border: 2px solid #f37021;
    border-radius: 18px;
    overflow: hidden;
    text-align: center;
    margin-left: auto;
    margin-top: 200px;
    width: 23%;
    margin-top: 5px;
    font-family: Tahoma, sans-serif;

    
}

.caja-ruc table {
    width: 140%;
    border-collapse: collapse;
    text-align: center;
}

.caja-ruc .fila-ruc-numero {
    height: 45px;
    font-weight: bold;
    vertical-align: middle;
}
  
.caja-ruc .fila-codigo{
    height: 45px;
    font-weight: bold;
    vertical-align: middle;
}
.caja-ruc .fila-label {
    height: 50px;
    font-weight: bold;
    vertical-align: middle;
}

.caja-ruc .fila-ruc-numero {
    font-size: 27px;
}

.caja-ruc .fila-label {
    background-color: #f37021;
    color: white;
    font-size: 25px;
    letter-spacing: 1px;
}

.caja-ruc .fila-codigo {
    font-size: 22px;
    color: #333;
}

.tabla-detalles {
    border: 1px solid #aaa;
    border-collapse: collapse;
    margin-bottom: 15px;
    font-size: 11px;
}

.tabla-detalles th {
    background: #eee;
    font-weight: bold;
    border: 1px solid #aaa;
    text-align: center;
    padding: 4px;
}

.tabla-detalles td {
    border: 1px solid #ccc;
    padding: 4px;
}
 